# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment variables
.env

# FMP cache
backend/data/fmp_cache/

# transcripts
backend/data/transcripts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
